.dataBar {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 10px;
}
.dataBarChart {
  display: flex;
  flex-direction: row;
  padding: 0;
  border: 0;
  border-radius: 5px;
  height: 20px;
  width: 100px;
  background-color: var(--color-accent);
}
.dataValue {
  border-radius: 0;
}
.dataFirstChild {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dataLastChild {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
