@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-width: calc(100vw - 16px);
}

@media (prefers-color-scheme: dark) {
  /* do smth here */
}

body {
  margin: 8px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
